/*General*/

body {
  background-color: #0c8dff;
  font: 15px "Century Gothic", Futura, Serif;
  height:100%;
  margin:0;
}

/*Navigation*/

.navImgSpace{
  margin-right:5px;
}

.navBeginning{
  margin-left:50px;
  margin-right:15px;
}

.navbarClass{
  background-color:rgb(190, 184, 184);
  color:white;
}

.navSpace{
  margin: 0 15px;
}

.isCurrent{
  background-color:rgb(124, 121, 121);
}

.divider{
  border-style:solid;
  border-color:black;
  margin-bottom:5vw;
}

/*Home*/

.welcome{
  font-weight: bold;
  font-size:3.7vw;
}
.topOfPage{
  margin-top:50px;
}
.name{
  font-weight: bold;
  font-size:3vw;
}
.uoftlogo{
  height:18vw;
}
.home{
  padding-top:8vw;
  padding-bottom:8vw;
}
.intro{
  padding-top:1vw;
  font-size:2vw;
  text-align: center;
}
.subText{
  font-size:1.7vw;
}


.gs{
  height:20vw;
  width:20vw;
  background-position-x: left;
  border-radius:250px;
  border-color:black;
  border-style:solid;
  object-fit: cover;
  object-position: -2vw 0px;
  float:right;
}

/*Layout*/
.rules{
  background-color: white;
  border: 6px solid black;
  border-radius: 15px;
  font: 2.6vh "Century Gothic", Futura, Serif;
}

.howtoplay{
  font: 5vh "Century Gothic", Futura, Serif;
  padding-left: 3vh;
  margin:10px;
  border-bottom:6px solid black;
}

.startreset{
  color:blue;
  font-size: 10%;
}

.startreset:hover{
  color:darkblue;
  cursor: pointer;
}

.styles1  {
  background: rgb(0, 153, 255);
  font-size: 2em;
  font-weight: bold;
  line-height: 50px;
  border-width:20px;
  border-radius:10px;
  text-align:center;
  color:blue;
  outline-width:5px;
  outline-style: solid;
  outline-offset: 5px;
  outline-color:rgb(0, 153, 255);
}

/*Header*/
.input{
  width:34%;
  /* position:fixed;   */
  text-align: center;
  bottom:2%;
  right:34.1%;
  font-size:3.5vw;
  padding-top:5px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:5px;
  background-color:#3CBC8D;
  color:white;
  border-color: green;
  right: 50%;
  left: 50%;
  transform:translateX(-50%);
}
.centerHeader{
  vertical-align: middle;
}
input[type=text]:focus{
  background-color:green;
}

.mute{
  outline:none;
  border-radius:10px;
  /* position:fixed; */
  padding:8px;
  background-color:white;
  color:white;
  font-size: 3vh;
  color:black;
  right:82%;
  top:3%;
}

.mute:hover{
  background-color:red;
  border-color:red;
  cursor: pointer;
}
.mute:active {
  transform: translateY(3px);
}
.myrow{
  height: 50vh;
  width: 100vw; 
  /* transform: translateX(-300px);  */
}
.img {
  /* position:absolute; */
  margin-top:5vh;
  max-height: 35vh;
  max-width: 55vh;

  /* right: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  margin-top:27%;   */
}

.dot {
  /* position:absolute; */
  display:inline-block;
  height: 25px;
  width: 25px;
  background-color: #66ff33;
  border-radius: 50%;
  border-color: green;
  border-width: 3px;
  border-style: solid;

  margin-left: 69%;
  padding:8px;
  bottom:35px;
  right:20%;
  /* right:12%; */
  /* top:24.5%; */
}

.dot2 {
  /* position:absolute;*/
  display:inline-block;
  height: 25px;
  width: 25px;
  background-color: #66ff33;
  border-radius: 50%;
  border-color: green;
  border-width: 3px;
  border-style: solid;
  margin-left: 69%;
  padding:8px;
  bottom:35px;
  right:17%;
  /* right:9%;
  top:24.5%; */
}

.dot3 {
  /* position:absolute;*/
  display:inline-block; 
  height: 25px;
  width: 25px;
  background-color: #66ff33;
  border-radius: 50%;
  border-color: green;
  border-width: 3px;
  border-style: solid;
  margin-left: 69%;
  padding:8px;
  bottom:35px;
  right:14%;
  /* right:6%;
  top:24.5%; */
}

.layers{
  margin-bottom:5px;
  font-size: 2.7vh;
}

.flag{
  /* position:absolute; */
  height:auto;
  /* right:7%;
  bottom:27%; */
  width:auto;
  max-height: 10vh;
}
.hints{
  margin-top:5vh;
}
.phone{
  margin-top:5vh;
}
@media (max-width: 600px) {
  .imgs{
    max-height: 32vh;
    max-width: 45vh;
    margin-top:0;
  }
  .gamePhone{
    font-size: 2vh;
  }
  .phone{
    margin-top:0;
  }
  .front{
    font-size:5vw;
  }
  .frontLogo{
    height:25vw;
    width:25vw;
    float: none;
  }
  .subFront{
    font-size:3vw;
  }
  .imgFront{
    height:24vw;
    object-position:0 -5px;
  }
  .listFront{
    text-indent: 0;
    margin-right:30px;
  }
}

.points{
/* position:fixed; */
left:10%;
bottom:1.5%;
color:white;
}
.sideBar{
  font-size: 2.1ex;
  color:white;
}

.pointText{
  background-color: gold;
  color:black;
  padding-left: 5px;
  padding-right: 5px;
  margin-left:5px;
  /* position:fixed; */
}

.hintText{
  /* position: absolute; */
  background-color: none;
  /* padding: 10px; */
  /* right:7%; */
  font: 10px "Times New Roman", Futura, Serif;
  font-size: 3vh;
  /* bottom: 54%; */
  color:white;
}

.capitalText {
  /* position: absolute; */
  background-color: none;
  /* max-width: 18%;
  padding: 10px; */
  /* right:7%;
  bottom:15%; */
  font: 20px "Times New Roman", Futura, Serif;
  font-size: 2.1ex;
  font-size: 3vh;
  color:white;
}

.skip:hover{
  background-color:red;
  cursor: pointer;
}

.skip:active {
  transform: translateY(5px);
}

.skip{
  outline:none;
  border-radius:10px;
  /* position:fixed; */
  padding:5px;
  border-color:black;
  background-color:yellow;
  font-size:2.3vw;
  width:10%;
  bottom:2%;
  left:18%;
}

.hint:hover{
  background-color:red;
  cursor: pointer;
}
.hint:active {
  transform: translateY(5px);
}

.hintsTitle{
  /* right:16%;
  top:20%;
  position: absolute; */
  color:white;
  padding:0px;
  margin:0px;
}
.hint {
  outline: none;
  border-radius:10px;
  /* position: fixed; */
  margin-left: 69%;
  padding:5px;
  border-color:black;
  background-color:orange;
  font-size:2.3vw;
  width:10%;
  bottom:2%;
  right:18%;
}

.buttonGuess {
  display:none;
}


/*About*/

.containe{
  border: 6px solid black;
  border-radius: 15px;
  font-size: 2.4vh;
  background: white;
  height:75vh;
}

.aboutLists{
  text-indent: 6vw;
}

.space{
  margin-bottom:10px;
}
.largeSpace{
  margin-top:30px;
}
.largerSpace{
  margin-bottom:60px;
}
.aboutTitle{
  font-size: 3vh;
  font-style: oblique;
}

.emphasis {
  font-size:5vh;
}

/*Contact*/

.centerContact{
  text-align: center;
  align-content: center;
}

.logoSpace{
  margin-right:20px;
}
/* Apps */

.appTitle{
  font: 15px;
}
.brainmapperlogo{
  height:250px;
  width:325px;
}
.rover{
  height:250px;
  width:250px;
}
.flappy{
  height:250px;
  width:250px;
}
.roverSpace{
  margin-top:15px;
}

.projectTitle{
  font-size:25px;
  font-weight: bold;
}

.projectDesc{
  text-align: left;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  margin-top: 50px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


/*Error*/

.errorMessage{
  position:absolute;
  left:42%;
  right:35%;
  top:2%;
}

.errorPic{
  top:15%;
  height:75vh;
  position:absolute;
  left:35%;
}



